./
../
.venv/
.backups/
.git/
.gitignore
.prj*
.vscode/
spatial/
env/
.env
*.csv
*.zip
!MDB_vegetation_vulnerability*.zip

.ipynb_checkpoints/

data/
*.nc

*.code-workspace
.cspell/custom-dictionary-workspace.txt
landsat_ndvi_output/task_failures.log
landsat_ndvi_output/watchdog.pid
.gitignore
*.pyc
