./
../
.venv/
.backups/
.git/
.gitignore
.prj*
.vscode/
spatial/
env/
.env
*.csv
*.zip
ndvi/
ndvi_landsat/
!MDB_vegetation_vulnerability*.zip

.ipynb_checkpoints/

data/
*.nc

*.code-workspace
.cspell/custom-dictionary-workspace.txt
avhrr_modis_output/
landsat_ndvi_output/
.gitignore
*.pyc
