./
../
.venv/
.backups/
.git/
.gitignore
.prj*
.vscode/
spatial/
*.csv
*.zip
!MDB_vegetation_vulnerability*.zip

.ipynb_checkpoints/

data/
*.nc

*.code-workspace
.cspell/custom-dictionary-workspace.txt
